body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    padding: 50px;
    margin-top: 10%;
}

.icon {
    font-size: 120px;
    margin-bottom: 20px;
    color: #e44d26; /* Set your desired color */
}

h1 {
    color: #333; /* Set your desired color */
}

p {
    color: #555; /* Set your desired color */
    font-size: 18px;
    margin-top: 10px;
}

a {
    color: #3498db; /* Set your desired color */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
